<div class="card" style="width: 60rem; margin:1in; margin-top:0.5in">
    <div class="card-body">
        <!--Header-->
        <div class="form-header default-color">
            <h3>
                <i class="fa fa-link"></i> Blend sources:</h3>
        </div>
        <%= form_for(@parts,  url: session_display_data_selection_path, method: "POST") do |f| %>
            <%= hidden_field_tag(:wid, value=@wid)%>
            <%= hidden_field_tag(:src1, value=@src1)%>
            <%= hidden_field_tag(:src2, value=@src2)%>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="trx_trx1">Fields in Source 1</label>
                        <%= f.select(:trx1, options_for_select(@choices1), {}, { :class => 'form-control' }) %>
                    </div>
                </div>
                <div class="col-2">
                    <label for="trx_trx3">Relationship type</label>
                    <!--<%= f.select(:trx1, options_for_select(@choices1), {}, { :class => 'form-control' }) %>-->
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="trx[trx3]" value="left"> <i class="fa fa-chevron-circle-left"> </i>
                        </label>
                        <label class="btn btn-primary active">
                            <input type="radio" name="trx[trx3]" value="full" checked> <i class="fa fa-circle"> </i>
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="trx[trx3]" value="right"> <i class="fa fa-chevron-circle-right"> </i>
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="trx_trx2">Fields in Source 2</label>
                        <%= f.select(:trx2, options_for_select(@choices2), {}, { :class => 'form-control' }) %>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="trx_trx4">Filter Criteria</label>
                        <input  type="text" id="trx_trx4", name="trx[trx4]" class='form-control' %>
                    </div>
                </div>

            </div>
            <div class="text-center">
                <%= f.submit "Join", class: "btn btn-default waves-effect waves-light" %>
            </div>
        <% end %>
    </div>
</div>



